.top {
    background-color: #4dabf7;
    height: 120px;
    width: 95%;
  }
  
  .title { 
    background: #96f2d7;
    text-align: center;
    font-family: Nunito Sans;
    color: #495057;
    vertical-align: sub;
  }